body {
  margin: 20px;
  background-color: steelblue;
}

form {
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: medium;
  width: 200px;
}

button {
  margin-left: 5px;
  padding: 10px;
}

